name: Trivy Vulnerability Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t trivy-demo:latest .

      - name: Run Trivy (PASS ON ALL VULNS)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'trivy-demo:latest'
          format: 'table'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW'
          vuln-type: 'os,library'
          exit-code: '0'           # NEVER FAIL
          ignore-unfixed: true     # IGNORE UNPATCHABLE
